body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: row;
}

#game_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #1F3542;
}

#game_instructions {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #182933;
}

#reset_button {
    border: none;
    margin-top: 2em;
    padding: 1em;
    border-radius: 5px;
    background-color: #EEB140;
    color: black;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px #B17E20;
    transition: all 0.5s ease-in;
}

#reset_button:hover {
    background-color: #B17E20;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
    color: #33C4C0;
    font-weight: bolder;
    text-align: center;
    padding: 2em 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    background-color: #182933;
    box-shadow: 2px 2px 1px #0F202A;
}

.logo {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-image: url("../img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #0F202A;
}

.name,
.firstName {
    background-color: #182933;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #0F202A;
}

.name {
    width: 50px;
    height: 150px;
    writing-mode: vertical-rl;
    text-align: center;
    padding-right: 15px;
}

.firstName {
    width: 150px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 2em 1em;
    border-radius: 10px;
    font-size: 1em;
    border: 0.1px solid black;
    text-align: center;
    margin-bottom: 1em;
    background-color: #F3B137;
    text-transform: uppercase;
    font-weight: bold;
}

.checked {
    position: relative;
}

.checked:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 200%;
    text-align: center;
    top: 9px;
    left: 9px;
    color: #33C4C0;
}

.unchecked {

    position: relative;
}

.unchecked:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 200%;
    text-align: center;
    top: 9px;
    left: 13px;
    color: #F3B034;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: absolute;
    background-color: #1F3640;
    top: 30%;
    left: 0;
    width: 100vw;
    z-index: 2;
}

@media (max-width: 850px) {
    body {
        flex-direction: column-reverse;
    }

    #game_container {
        width: 100vw;
    }

    #game_instructions {
        width: 100vw;
    }

    .modal-content {
        top: 125%;
    }
}